body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #dbe9df;
}

h1, h2, h3 {
  color: #333;
}

.container {
  max-width: 70rem;
  margin: auto;
  padding: 10px;
}

.section {
  margin-bottom: 20px;
}

.tech-stack {
  margin-bottom: -16px;
}

dl, tr {
  font-weight: bold;
}

td {
  min-width: 100px;
}

ul {
  list-style-type: none;
}

.center {
  text-align: center;
}
